.page-content{
	background-color: 	#008B8B;
	
}

.content-block{
	background-color: #20B2AA;
	
}

input, label , p{
	color: black;
}
div.navbar{

	 background-color: 	#008B8B;

}


