<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://phonegap.com/ns/1.0"
	id = "com.phonegap.example"
	versionCode = "10"
	version = "1.0.0" >

	<!--VersionCode is optional and Android only-->

	<name>Cuestionario</name>

	<description>
		App de prueba en la que se manejan preguntas de opcion multiple
	</description>

	<author href="iti16.com" email ="201600055@uprr.edu.mx">Web 
	</author>
	<plugin name="cordova-plugin-whitelist" />
	<access origin="*" />
	<allow-intent href="*" />
	<allow-navigation href="http://*/*" />
	<allow-navigation href="https://*/*" />
	<allow-navigation href="data:*" />
	<platform name="android">
        <preference name="android-minSdkVersion" value="14" />
        <allow-intent href="market:*" />
    	</platform>
	<preference name="permissions" value="none"/>
</widget>
